# SI QUIERES AÑADIR UNA KEY, CREA UN ARCHIVO .env o .env.local EN LA RAIZ Y AÑADELAS ALLI
PUBLIC_SUPABASE_URL= # NO PUBLIQUEN LAS KEYS POR FAVOR
PUBLIC_SUPABASE_PUBLISHABLE_KEY= # NO PUBLIQUEN LAS KEYS POR FAVOR